<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body onclose="removeModalValues()">

{{ template "navbar.html" }}

<div class="container animate__animated animate__fadeIn" style="blur(1000)">
    <div class="row">
        <div class="col-11">
            <h1 class="m-3">{{ .Title }}</h1>
        </div>
    </div>

    {{if .Files}}
    {{ range .Files }}
    <div class="cards card m-auto my-2 p-2">
        <div class="row">
            <div onclick="setModalValues({
                                            id:'{{ .ID }}',
                                            name:'{{ .Name }}',
                                            ext: '{{ .Ext }}',
                                            size:'{{ .Size }}',
                                            icon:'{{ .Icon }}',
                                            url:'{{ .ViewUrl }}',
                                            time:'{{ .Time }}'})"
                 data-bs-toggle="modal"
                 data-bs-target="#viewModal"
                 class="col-2 m-auto">
                <i class="fa-solid {{ .Icon }} fa-4x"></i>
            </div>
            <div onclick="setModalValues({
                                            id:'{{ .ID }}',
                                            name:'{{ .Name }}',
                                            ext: '{{ .Ext }}',
                                            size:'{{ .Size }}',
                                            icon:'{{ .Icon }}',
                                            url:'{{ .ViewUrl }}',
                                            time:'{{ .Time }}'})"
                 data-bs-toggle="modal"
                 data-bs-target="#viewModal"

                 class="col">
                <div class="row">
                    <span>
                        {{ .Name }}
                    </span>
                </div>
                <div class="row pb-1">
                    <div class="col-3">
                        <span class="badge bg-primary"> {{ .Ext }} </span>
                    </div>
                    <div class="col-4">
                        <span class="badge bg-secondary"> {{ getMB .Size }} </span>
                    </div>
                </div>
                <div class="row">
                    <span class="card-text text-muted" style="font-size: 12px">
                        {{ .Time.Format "15:04:05 02/01/2006" }}
                    </span>
                </div>

            </div>
            <div class="col-3 m-auto">
                <div class="dropdown ms-2">
                    <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical text-dark fa-2x"></i>
                    </button>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item removeButton" href="#">
                                <i class="fa-solid fa-xmark fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item downloadButton" href="{{ .DownloadUrl }}" download="{{ .Name }}" >
                                <i class="fa-solid fa-cloud-arrow-down fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    {{ else }}
    <div class="cards card m-auto my-2">
        <div class="card-body">
            <p class="card-text">
                Ningún archivo encontrado!
            </p>
        </div>
    </div>
    {{ end }}
    <div>
        <a class="btn btn-primary add-button" href="/files/upload">
            <i class="fa fa-plus fa-2x add-button-icon"></i>
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto">
                <img id="modalImg" src="" alt="" width="300" class="d-none">
                <audio controls id="modalAudio">
                    <source src="" type="">
                </audio>
                <video id="modalVideo" width="300" controls class="d-none">
                    <source src="" type="">
                    <source src="" type="">
                    Your browser does not support the video tag.
                </video>
                <embed id="modalEmbed" width="191" height="207" name="plugin" src="" type=""
                       class="img-thumbnail d-none">


            </div>
            <div class="modal-footer">
                <span id="modalFooter" class="card-text text-muted" style="font-size: 12px"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>