<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img width="35px" src="../assets/stack-1024-trans.png" alt="sharepoint-logo">
        <a class="navbar-brand" href="/files">SharePoint APP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link m-auto" href="/files">ARCHIVOS</a>
                <a class="nav-link m-auto" href="/files/upload">SUBIR ARCHIVO</a>
            </div>
        </div>
    </div>
</nav>